.main {
  padding: 100px 35px 0;
  display: flex;
  justify-content: center;
  align-items: start;
}
.section {
  display: grid;
  width: auto;
  max-width: 1600px;
  grid-template-columns: 43% 57%;
  justify-content: start;
  align-items: center;
  font-family: poppins;
}
.left {
}
.left h2 {
  font-size: 80px;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #fff;
  margin: 15px 0;
  font-family: raleway !important;
}

.left h2 span {
  color: #ff2759;
}

.left h3 {
  font-size: 18px;
  font-weight: 400;
  color: #ffbd10;
  margin: 0;
}

.left p {
  color: #cbcbcb;
  font-size: 18px;
  font-weight: 400;
  max-width: 547px;
}

.left button {
  padding: 20px 41px 19px;
  font-weight: 500;
  border-radius: 100px;
  color: #ff2759;
}

.right {
  position: relative;
  height: 100%;
  width: 100%;
}

.firstImage {
  position: absolute;
  bottom: 0px;
  left: -100px;
  transform: rotate(-120deg);
}

.secondImage {
  position: absolute;
  top: 0px;
  right: -40px;
}
.thirdImage {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  /* left: 50%;
  right: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 50px;
  /* overflow: hidden; */
}

.thirdImageContainer {
}
.rightdiv {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #2cffa5 0%, #81f 100%);
  border-radius: 50px;
  transform: rotate(2deg);
  position: absolute;
  top: 0px;
  z-index: -1;
}
